﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" action="@Url.Action("PostOrder", "Home")">
        <input type="submit" value="Place order"/>
    </form>
    
    <form method="get" action="@Url.Action("GetAllOrders", "Home")">
        <input type="submit"  value="Get all orders"/>    
    </form>
</div>
